{%- if card_product and card_product != empty -%}
  {%- liquid
    assign ratio = 1
    if card_product.featured_media and media_aspect_ratio == 'portrait'
      assign ratio = 0.8
    elsif card_product.featured_media and media_aspect_ratio == 'adapt'
      assign ratio = card_product.featured_media.aspect_ratio
    endif
    if ratio == 0 or ratio == null
      assign ratio = 1
    endif
  -%}
  <a
    href="{{ card_product.url }}"
    class="card-wrapper product-card-wrapper underline-links-hover group shadow-lg w-full"
  >
    <div class="mx-6 my-4 grid grid-cols-[40%_60%] gap-4">
      <div class="col-span-1">
        {% if card_product.featured_media %}
          {% if card_product.media != empty %}
            {% render 'carousel',
              products: card_product.media,
              class: 'group-hover:block',
              image_css: 'min-h-[15rem]'
            %}
          {% endif %}

          {{
            card_product.featured_media
            | image_url: width: 900
            | image_tag: loading: 'lazy', class: 'group-hover:hidden h-full'
          }}

        {% else %}
          {{ 'collection-1' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
      </div>

      <div class="px-4">
        <div class="py-4">
          <div class="font-bold text-xl mb-2">{{ card_product.title }}</div>
        </div>
        <p class="{{ description_lines }}">
          {{ card_product.description }}
        </p>
        <div class="pt-4 pb-2 grid grid-cols-3 gap-4">
          {% if card_product.compare_at_price > card_product.price %}
            <s class="text-red-500 ">
              <p class="text-xl font-semibold">
                {{ card_product.compare_at_price | money }}
              </p>
            </s>
            <p class="text-xl font-semibold">
              {{ card_product.price | money }}
            </p>
            {%- assign current_price = card_product.price | money_without_currency -%}
            {%- assign comp_price = card_product.compare_at_price | money_without_currency -%}
            {%- assign actual_price = comp_price | minus: current_price -%}
            <p class="text-xl font-semibold text-green-400">{{ actual_price | divided_by: comp_price }}% Off</p>
          {%- else -%}
            <p class="text-xl font-semibold">
              {{ card_product.price | money }}
            </p>
          {% endif %}
        </div>
      </div>
    </div>
  </a>
{%- endif -%}
