<div x-data="{ forgatePass: false }" class="flex justify-center p-10 h-full">
  <div class="min-w-[22%] rounded overflow-hidden shadow-lg py-10 bg-white relative">
    <h1
      x-show="!forgatePass"
      class="text-red-600 text-3xl h-12 uppercase mb-10 flex justify-center items-center font-semibold text-center border-l-4 border-red-600"
    >
      {{ 'customer.login_page.title' | t }}
    </h1>

    <h1
      x-show="forgatePass"
      class="text-red-600 text-3xl h-12 uppercase mb-10 flex justify-center items-center font-semibold text-center border-l-4 border-red-600"
    >
      {{ 'customer.recover_password.title' | t }}
    </h1>

    <div
      x-show="forgatePass"
      class="px-6 absolute w-full"
      x-transition:enter="animate-slideInRight"
      x-transition:leave="animate-slideOutRight"
    >
      <div class="space-y-4">
        <p class="text-center">
          {{ 'customer.recover_password.subtext' | t }}
        </p>

        {%- form 'recover_customer_password' -%}
          {% assign recover_success = form.posted_successfully? %}
          <div class="relative float-label-input">
            <input
              type="email"
              value=""
              name="email"
              id="RecoverEmail"
              autocorrect="off"
              autocapitalize="off"
              autocomplete="email"
              class="w-full bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-md py-3 px-3 block appearance-none leading-normal focus:border-blue-400"
              {% if form.errors %}
                aria-invalid="true"
                aria-describedby="RecoverEmail-email-error"
                autofocus
              {% endif %}
              placeholder=" "
            >
            <label
              for="RecoverEmail"
              class="absolute top-3 left-0 text-gray-400 pointer-events-none transition duration-200 ease-in-outbg-white px-2 text-grey-darker"
            >
              {{ 'customer.login_page.email' | t }}
            </label>
          </div>
          {%- if form.errors -%}
            <small id="RecoverEmail-email-error" class="form__message">
              {% comment %}
                <span class="svg-wrapper">
                  {{- 'icon-error.svg' | inline_asset_content -}}
                </span>
              {% endcomment %}
              {{ form.errors.messages.form }}
            </small>
          {%- endif -%}

          <div class="flex flex-col space-y-4 mt-4">
            <button class="bg-teal-100 hover:bg-[#009990] hover:text-white text-teal-800 rounded-lg py-3 px-8 shadow-md hover:shadow-2xl transition duration-500">
              {{ 'customer.login_page.submit' | t }}
            </button>

            <a
              href="#"
              @click="forgatePass = !forgatePass"
              class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
            >
              {{ 'customer.login_page.cancel' | t }}
            </a>
          </div>
        {%- endform -%}
      </div>
    </div>

    <div
      x-show="!forgatePass"
      class="px-6 absolute w-full"
      x-transition:leave="animate-slideOutLeft"
      x-transition:enter="animate-slideInLeft"
    >
      <div>
        {%- if recover_success == true -%}
          <h3 class="form__message" tabindex="-1" autofocus>
            {% comment %}
              <span class="svg-wrapper">
                {{- 'icon-success.svg' | inline_asset_content -}}
              </span>
            {% endcomment %}
            {{ 'customer.recover_password.success' | t }}
          </h3>
        {%- endif -%}
        {%- form 'customer_login', novalidate: 'novalidate' -%}
          {%- if form.errors -%}
            <h2 class="flex mb-6" tabindex="-1">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 -960 960 960"
                width="24px"
                fill="#FF0000"
              >
                <path d="M480-120q-33 0-56.5-23.5T400-200q0-33 23.5-56.5T480-280q33 0 56.5 23.5T560-200q0 33-23.5 56.5T480-120Zm-80-240v-480h160v480H400Z"/>
              </svg>
              {{ 'templates.contact.form.error_heading' | t }}
            </h2>
            {{ form.errors | default_errors }}
          {%- endif -%}

          {%- if shop.features.login_with_shop_classic_customer_accounts? -%}
            <section name="sign-in-with-shop-provider">
              {{ shop | login_button: hide_button: hide_shop_login_button }}

              {%- unless hide_shop_login_button -%}
                <p>
                  {{ 'customer.login_page.alternate_provider_separator' | t }}
                </p>
              {%- endunless -%}
            </section>
          {%- endif -%}

          <div class="relative float-label-input">
            <input
              type="email"
              name="customer[email]"
              id="CustomerEmail"
              autocomplete="email"
              autocorrect="off"
              autocapitalize="off"
              placeholder=" "
              {% if form.errors contains 'form' %}
                aria-invalid="true"
              {% endif %}
              class="w-full bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-md py-3 px-3 block appearance-none leading-normal focus:border-blue-400"
            >
            <label
              for="CustomerEmail"
              class="absolute top-3 left-0 text-gray-400 pointer-events-none transition duration-200 ease-in-outbg-white px-2 text-grey-darker"
            >
              {{ 'customer.login_page.email' | t -}}
            </label>
          </div>

          {% comment %}
            <div class="field">
              <input
                type="email"
                name="customer[email]"
                id="CustomerEmail"
                autocomplete="email"
                autocorrect="off"
                autocapitalize="off"
                {% if form.errors contains 'form' %}
                  aria-invalid="true"
                {% endif %}
                placeholder="{{ 'customer.login_page.email' | t }}"
              >
              <label for="CustomerEmail">
                {{ 'customer.login_page.email' | t }}
              </label>
            </div>
          {% endcomment %}

          {%- if form.password_needed -%}
            <div class="relative float-label-input mt-6">
              <input
                class="w-full bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-md py-3 px-3 block appearance-none leading-normal focus:border-blue-400"
                type="password"
                value=""
                name="customer[password]"
                id="CustomerPassword"
                autocomplete="current-password"
                {% if form.errors contains 'form' %}
                  aria-invalid="true"
                {% endif %}
                placeholder=" "
              >
              <label
                for="CustomerPassword"
                class="absolute top-3 left-0 text-gray-400 pointer-events-none transition duration-200 ease-in-outbg-white px-2 text-grey-darker"
              >
                {{ 'customer.login_page.password' | t }}
              </label>
            </div>
          {%- endif -%}
          <div class="flex flex-col space-y-4">
            <a
              @click="forgatePass = !forgatePass"
              class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
              href="#recover"
            >
              {{ 'customer.login_page.forgot_password' | t }}
            </a>

            <button class="bg-teal-100 hover:bg-[#009990] hover:text-white text-teal-800 rounded-lg py-3 px-8 shadow-md hover:shadow-2xl transition duration-500">
              {{ 'customer.login_page.sign_in' | t }}
            </button>

            <a
              class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
              href="{{ routes.account_register_url }}"
            >
              {{ 'customer.login_page.create_account' | t }}
            </a>
          </div>
        {%- endform -%}
      </div>

      {%- if shop.checkout.guest_login -%}
        <div>
          <hr>
          <h2>{{ 'customer.login_page.guest_title' | t }}</h2>

          {%- form 'guest_login' -%}
            <button>
              {{ 'customer.login_page.guest_continue' | t }}
            </button>
          {%- endform -%}
        </div>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-login.name",
  "class": "h-full",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_shop_login_button",
      "label": "t:sections.main-login.shop_login_button.enable",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
